/* Imports */
@import "normalize.min.css";

/* Variables */
/* Colors */
$darkprimary: #1976D2;
$primary: #2196F3;
$lightprimary: #BBDEFB;
$accent: #90d63f;
$text: #FFFFFF;
$primarytext: #212121;
$secondarytext: #757575;
$divider: #BDBDBD;

// Fonts
$roboto: 'Roboto', sans-serif;

html {
    font-size: 100%;
}

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/* Mobile-first styles */

.settings_sidebar {
    width: 100%;
    height: 100%;
    background-color: $darkprimary;
    position: fixed;
    top: 0;
    left: 101%;
    z-index: 2;
    box-shadow: -1px 2px 5px rgba(0,0,0,.26);
    transition: 0.3s all ease-out;
    will-change: transform;
    .settings_menu_list {
        width: 100%;
        height: 50%;
        margin-top: 50px;
        .menu {
            width: 100%;
            height: 20%;
            padding-left: 30px;
            display: flex;
            background-color: $primary;
            justify-content: flex-start;
            align-items: center;
            .menu_svg {
                margin-right: 20px;
            }
            h2 {
                text-transform: uppercase;
                font-family: $roboto;
            }
        }
    }
}

// Menu sidebar
.menu_color_list, .menu_font_list {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: 0.3s all ease-out;
    will-change: transform;
    .menu_color_list_item, .menu_font_list_item {
        width: 100%;
        height: 50px;
        padding-left: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #F0F0F0;
        border-bottom: 1px solid $primarytext;
        color: $secondarytext;
        cursor: pointer;
        input {
            display: none;
        }
        input:checked + label {
            color: $primarytext;
            opacity: 1;
        }
        label {
            width: 100%;
            padding: 20px 20px 20px 0;
            margin-left: 5px;
            position: relative;
            text-transform: uppercase;
            font-family: $roboto;
            opacity: 0.5;
            cursor: pointer;
        }
    }
}

// Staes of color and font options
.menu-closed {
    pointer-events: none;
}

.list-open {
    transform: translateY(0%);
}


.info_sidebar {
    width: 100%;
    height: 100%;
    padding-right: 2%;
    background-color: $darkprimary;
    position: fixed;
    top: 0;
    left: -101%;
    z-index: 2;
    box-shadow: -1px 2px 5px rgba(0,0,0,.26);
    transition: 0.3s all ease-out;
    will-change: transform;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .info_sidebar_screen {
        width: 76%;
        height: 95%;
        padding: 1px 8px;
        background-color: $lightprimary;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow-y: scroll;
        h2 {
            text-align: center;
            font-family: $roboto;
            font-size: 8vw;
            color: $primarytext;
            margin: 15px 0 20px 0;
            text-transform: uppercase;
        }
        p {
            text-align: justify;
            line-height: 150%;
            font-family: $roboto;
            font-size: 4vw;
            color: $secondarytext;
            text-transform: uppercase;
            strong {
                color: $primarytext;
            }
        }
    }
}

// Wrapper of the DOM
.wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

// Section above controls
.upper_section {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    .header {
        width: 100%;
        height: 20%;
        background-color: $darkprimary;
        box-shadow: 0 2px 5px rgba(0,0,0,.26);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        align-content: center;
        .header_logo_svg {
            margin-right: 15px;
        }
    }
    .screen {
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary;
        .display {
            width: 90%;
            height: 90%;
            border-radius: 2%;
            background-color: $lightprimary;
            position: relative;
            h4, h5 {
                position: absolute;
                right: 15px;
                bottom: 100px;
                font-family: $roboto;
                font-size: 2.2rem;
                color: $darkprimary;
                text-shadow: 1px 1px 2px $darkprimary;
            }
            h4 {
                font-size: 60px;
                bottom: 15px;
            }
            .result {
                position: absolute;
                left: 15px;
                bottom: 20px;
                font-family: $roboto;
                font-size: 1.1rem;
                color: $primarytext;
                text-shadow: 1px 1px 2px $darkprimary;
            }
        }
    }
}

// Section lower the screen
.lower_section {
    width: 100%;
    height: 60%;
    .navigation {
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        .info, .settings {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.9rem;
            text-transform: uppercase;
            background-color: $primary;
            border: none;
            color: $primarytext;
            font-family: $roboto;
            font-weight: 700;
            box-shadow: 0 2px 5px rgba(0,0,0,.26);
            outline: none;
            cursor: pointer;
            .info_svg, .settings_svg {
                margin-right: 10px;
            }
        }
        .info {
            pointer-events: all;
        }
    }
    .controls {
        width: 100%;
        height: 90%;
        padding: 5% 5%;
        background-color: $lightprimary;
        .clear, .record {
            margin: 20px auto;
            display: block;
            border-radius: 50%;
            text-transform: uppercase;
            background-color: $accent;
            color: $primarytext;
            font-family: $roboto;
            font-weight: 700;
            box-shadow: 0 2px 5px rgba(0,0,0,.26);
            border: none;
            outline: none;
            cursor: pointer;
        }
        .record {
            position: relative;
            width: 200px;
            height: 200px;
            font-size: 1.4rem;;
        }
        .clear {
            width: 100px;
            height: 100px;
            font-size: 1rem;
        }
    }
}


/* Media queries */

// Height fixes
@media screen and (max-height: 700px) {
    .wrapper {
        .lower_section {
            .controls {
                .record {
                    width: 180px;
                    height: 180px;
                    margin: 20px auto;
                }
                .clear {
                    width: 90px;
                    height: 90px;
                    margin: 15px auto;
                }
            }
        }
    }
}

@media screen and (max-height: 600px) {
    .wrapper {
        .lower_section {
            .controls {
                .record {
                    width: 150px;
                    height: 150px;
                    margin: 18px auto;
                }
                .clear {
                    width: 80px;
                    height: 80px;
                    margin: 10px auto;
                }
            }
        }
    }
}

@media screen and (max-height: 550px) {
    .wrapper {
        .lower_section {
            .controls {
                .record {
                    width: 140px;
                    height: 140px;
                    margin: 15px auto;
                    h2 {
                        display: none;
                    }
                }
                .clear {
                    width: 75px;
                    height: 75px;
                    margin: 10px auto;
                }
            }
        }
    }
}


// Width fixes
@media screen and (max-width: 400px) {
    .wrapper {
        .upper_section {
            .header {
                .header_logo_svg {
                    width: 35px;
                    height: 35px;
                }
            }
        }
        .lower_section {
            .navigation {
                .info, .settings {
                    font-size: 0.8rem;
                }
            }
            .controls {
                .record {
                    font-size: 1rem;
                }
                .clear {
                    font-size: 0.8rem;
                }
            }
        }
    }
}

@media screen and (min-width: 750px) {
    .info_sidebar {
        .info_sidebar_screen {
            padding: 5px 20px;
            h2 {
                font-size: 5vh;
            }
            p {
                font-size: 3vh;
            }
        } 
    }
    .wrapper {
        .upper_section {
            .header {
                .header_logo_svg {
                    width: 60px;
                    height: 60px;
                    margin-right: 40px;
                }
            }
        }
        .lower_section {
            .controls {
                padding: 4% 4%;
                display: flex;
                justify-content: center;
                align-items: center;
                .record {
                    margin: 15px auto;
                }
                .clear {
                    margin: 12px auto;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .wrapper {
        .upper_section {
            .header {
                .header_logo_svg {
                    width: 45px;
                    height: 45px;
                    margin-right: 60px;
                }
            }
        }
        .lower_section {
            .controls {
                padding: 2% 2%;
                .record {
                    margin: 20px auto;
                }
                .clear {
                    margin: 15px auto;
                }
            }
        }
    }
}




