/* Imports */
@import "normalize.min.css";

/* Variables */
// Colors
$darkprimary: #1976D2;
$primary: #2196F3;
$lightprimary: #BBDEFB;
$accent: #4CAF50;
$text: #FFFFFF;
$primarytext: #212121;
$secondarytext: #757575;
$divider: #BDBDBD;

// Fonts
$roboto: 'Roboto', sans-serif;

/* Mobile-first styles */
.settings_menu {
    width: 100%;
    height: 100%;
    background-color: $darkprimary;
    position: fixed;
    top: 0;
    left: 101%;
    z-index: 2;
    box-shadow: -1px 2px 5px rgba(0,0,0,.26);
    transition: 0.3s all ease-out;
    will-change: transform;
    .settings_menu_list {
        width: 100%;
        height: 50%;
        margin-top: 50px;
        .menu {
            width: 100%;
            height: 20%;
            padding-left: 30px;
            display: flex;
            background-color: $primary;
            justify-content: flex-start;
            align-items: center;
            .menu_svg {
                margin-right: 20px;
            }
            h2 {
                text-transform: uppercase;
                font-family: $roboto;
            }
        }
    }
}

.history_sidebar {
    width: 100%;
    height: 100%;
    padding-right: 7%;
    background-color: $darkprimary;
    position: fixed;
    top: 0;
    left: -101%;
    z-index: 2;
    box-shadow: -1px 2px 5px rgba(0,0,0,.26);
    transition: 0.3s all ease-out;
    will-change: transform;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .history_sidebar_screen {
        width: 70%;
        height: 95%;
        background-color: $lightprimary;
        border-radius: 4px;
    }
}

.wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.upper_section {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    .header {
        width: 100%;
        height: 20%;
        background-color: $darkprimary;
        box-shadow: 0 2px 5px rgba(0,0,0,.26);
    }
    .screen {
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary;
        .display {
            width: 90%;
            height: 90%;
            border-radius: 2%;
            background-color: $lightprimary;
            position: relative;
            p {
                position: absolute;
                right: 15px;
                bottom: 15px;
                font-family: $roboto;
                font-size: 40px;
                color: $darkprimary;
                text-shadow: 1px 1px 2px $darkprimary;
            }
        }
    }
}

.lower_section {
    width: 100%;
    height: 60%;
    .navigation {
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        .history, .settings {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            text-transform: uppercase;
            background-color: $primary;
            border: none;
            color: $primarytext;
            font-family: $roboto;
            font-weight: 700;
            box-shadow: 0 2px 5px rgba(0,0,0,.26);
            outline: none;
            .history_svg, .settings_svg {
                margin-right: 10px;
            }
        }
        .history {
            pointer-events: all;
        }
    }
    .controls {
        width: 100%;
        height: 90%;
        padding: 5% 5%;
        background-color: $lightprimary;
        .clear, .record {
            margin: 20px auto;
            display: block;
            border-radius: 50%;
            text-transform: uppercase;
            background-color: $accent;
            color: $primarytext;
            font-family: $roboto;
            font-weight: 700;
            box-shadow: 0 2px 5px rgba(0,0,0,.26);
            border: none;
            outline: none;
        }
        .record {
            position: relative;
            width: 200px;
            height: 200px;
            font-size: 20px;
        }
        .clear {
            width: 100px;
            height: 100px;
            font-size: 16px;
        }
    }
}

/* Media queries */

// Height fixes
@media screen and (max-height: 700px) {
    .wrapper {
        .lower_section {
            .controls {
                .record {
                    width: 180px;
                    height: 180px;
                    margin: 20px auto;
                }
                .clear {
                    width: 90px;
                    height: 90px;
                    margin: 15px auto;
                }
            }
        }
    }
}

@media screen and (max-height: 600px) {
    .wrapper {
        .lower_section {
            .controls {
                .record {
                    width: 150px;
                    height: 150px;
                    margin: 18px auto;
                }
                .clear {
                    width: 80px;
                    height: 80px;
                    margin: 10px auto;
                }
            }
        }
    }
}

@media screen and (max-height: 550px) {
    .wrapper {
        .lower_section {
            .controls {
                .record {
                    width: 140px;
                    height: 140px;
                    margin: 15px auto;
                    h2 {
                        display: none;
                    }
                }
                .clear {
                    width: 75px;
                    height: 75px;
                    margin: 10px auto;
                }
            }
        }
    }
}


// Width fixes
@media screen and (max-width: 400px) {
    .wrapper {
        .lower_section {
            .navigation {
                .history, .settings {
                    font-size: 12px;
                }
            }
            .controls {
                .record {
                    font-size: 16px;
                }
                .clear {
                    font-size: 14px;
                }
            }
        }
    }
}

@media screen and (min-width: 750px) {
    .wrapper {
        .lower_section {
            .controls {
                padding: 4% 4%;
                display: flex;
                justify-content: center;
                align-items: center;
                .record {
                    margin: 15px auto;
                }
                .clear {
                    margin: 12px auto;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .lower_section {
        .controls {
            padding: 2% 2%;
            .record {
                margin: 20px auto;
            }
            .clear {
                margin: 15px auto;
            }
        }
    }
}




